body {
    font-family: sans-serif;
    background-color: rgb(171, 165, 165);
     text-align: center;
}
h1{
    font-size: 20px;  
    text-align: center; 
    box-shadow: 3px 5px 4px 0 gray ;
    background-image:linear-gradient(white,rgb(244, 187, 83)) ;
    padding: 10px;
    border-radius: 10px;
    color:rgb(114, 114, 114); 
    text-align: center;
     } 
     .link-text:visited{ color:rgb(0, 0, 0);
        
     }
.h2{
color:blue;
}
.link-header{
  background-image: linear-gradient(white,rgb(236, 186, 104));
  border-radius: 10%;
  text-decoration: none;
  padding: 5px;
  box-shadow:3px 5px 4px 0 gray ; 
  color:black;
}
.link-text{ background-image: linear-gradient(white,rgb(233, 171, 71));
  border-radius: 10%;
  text-decoration: none;
  padding: 2px;
  box-shadow:3px 5px 4px 0 gray ; 
  color:black;
    
}
